Source: ebucket
Priority: extra
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends:
 debhelper (>= 7), cmake, cdbs,
 libboost-dev | libboost1.48-dev,
 libboost-thread-dev | libboost-thread1.48-dev,
 libboost-program-options-dev | libboost-program-options1.48-dev,
 libboost-filesystem-dev | libboost-filesystem1.48-dev,
 elliptics-dev, elliptics-client,
 libswarm3-dev,
 libthevoid3-dev,
 libmsgpack-dev
Standards-Version: 3.9.1
Section: libs
Vcs-Git: git://github.com/bioothod/ebucket.git
Vcs-Browser: https://github.com/bioothod/ebucket.git
Homepage: https://github.com/bioothod/ebucket.git

Package: ebucket
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Elliptics Bucket library
 Ebucket states for Elliptics Bucket - an object which contains metadata about how replicas should be arranged in the storage.
 This library helps operating with buckets.
 http://doc.reverbrain.com/backrunner:backrunner#bucket

 ebucket package contains HTTP server which selects bucket the most suitable for requested size.


Package: ebucket-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 libboost-dev | libboost1.48-dev,
 libboost-thread-dev | libboost-thread1.48-dev,
 libboost-program-options-dev | libboost-program-options1.48-dev,
 libboost-filesystem-dev | libboost-filesystem1.48-dev,
 elliptics-dev, elliptics-client,
 libswarm3-dev,
 libthevoid3-dev,
 libmsgpack-dev
Description: Elliptics Bucket library
 Ebucket states for Elliptics Bucket - an object which contains metadata about how replicas should be arranged in the storage.
 This library helps operating with buckets.
 http://doc.reverbrain.com/backrunner:backrunner#bucket

 ebucket-dev package contains headers needed to embed bucket processing into your code.
