Source: ebucket
Priority: extra
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends: debhelper (>= 7), cmake, cdbs
Standards-Version: 3.9.1
Section: libs
Vcs-Git: git://github.com/bioothod/ebucket.git
Vcs-Browser: https://github.com/bioothod/ebucket.git
Homepage: https://github.com/bioothod/ebucket.git

Package: ebucket-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libboost-dev | libboost1.48-dev, 
 libboost-thread-dev | libboost-thread1.48-dev, 
 libboost-program-options-dev | libboost-program-options1.48-dev,
 elliptics-dev, elliptics-client,
 cmake (>= 2.6),
 debhelper (>= 7.0.50~),
 libthevoid3-dev
Description: Elliptics Bucket library
 Ebucket states for Elliptics Bucket - an object which contains metadata about how replicas should be arranged in the storage.
 This library helps operating with buckets.
 http://doc.reverbrain.com/backrunner:backrunner#bucket

